body {
  margin: 20px;
  padding: 10px;
  background-color: #f5f2f0;
}

h1 {
  letter-spacing: 0.3em;
  font-size: 44px;
  margin:20px;
  padding: 10px;
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

nav {
  margin-bottom: 10px;
}

.card-content {
  margin-top: 21px;
}

.add-blog-border {
  background-color: #ffffff;
}

.brand-logo {
  margin-left: 25px;
}

.card {
    width: 440px;
}

.subtitle {
    color: #ffffff;
    font-size: 20px;
    padding-left: 30px;
}

.blog-banner {
    height: 200px;
    width: 100%;
    margin-bottom: 40px;
    background-color: #000;
    background-image: url(../images/kelsey-johnsen-727.jpg);
    background-position: center center, center top;
    background-repeat: repeat, no-repeat;
}

.blog-edit input:focus,
.blog-edit textarea:focus,
.blog-edit select:focus {
  outline: 0;
  background: #fef2de;
}

.blog-edit button {
  width: 50%;
  border: 0;
}

.add-blog-border {
    padding: 15px;
    width: 440px;
    border:solid 1px darkgray;
}