body {
  margin: 20px;
  padding: 10px;
  background-color: #f5f2f0;
}

h1 {
  letter-spacing: 0.3em;
  font-size: 44px;
  margin:20px;
  padding: 10px;
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

nav {
  margin-bottom: 10px;
}

.backgroundHeader {
    padding: 20px !important;
    color: #ffffff;
    background-color: #00a69a;
}

.card-content {
  margin-top: 21px;
}

.add-blog-border {
  background-color: #ffffff;
}

.brand-logo {
  margin-left: 25px;
}

.card {
    width: 440px;
}

.subtitle {
    color: #ffffff;
    font-size: 20px;
    padding-left: 30px;
}

.blog-edit input:focus,
.blog-edit textarea:focus,
.blog-edit select:focus {
  outline: 0;
  background: #fef2de;
}

.blog-edit button {
  width: 50%;
  border: 0;
}

.add-blog-border {
    padding: 15px;
    width: 440px;
    border:solid 1px darkgray;
}

.pad-top {
    padding-top: 40px;
}

.chip-style {
    color: #00a69a;
}

.margin-button {
  margin-left: 10px;
  margin-top: 20px;
}

.header-footer-margins {
  margin-left: 20px;
  width:95%;
}

.min-margin-left {
    margin-left: 20px;

}